<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Задание" data-toc-modified-id="Задание-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Задание</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Основная-часть" data-toc-modified-id="Основная-часть-1.0.1"><span class="toc-item-num">1.0.1&nbsp;&nbsp;</span>Основная часть</a></span></li></ul></li></ul></li><li><span><a href="#Описания-полей" data-toc-modified-id="Описания-полей-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Описания полей</a></span></li></ul></div>

# Задание

### Основная часть

* Проанализируйте и опишите данный датасет, используя все возможные графики из тех, что были на уроке Matplotlib, Seaborn, Plotly
* Используйте также описательные статистики
* У каждого построенного графика должен быть соответствующий вывод, который описывает наблюдение или инсайт

# Описания полей

* age	возраст
* gender	пол repexc_date
* city_type	Тип города проживания клиента
* full_mob	Длительность взаимоотношений с банком

* ml_balance	ипотека
* cl_balance_0m	потребительский кредит
* loan_balance_0m	все кредиты

* td_balance_0m	депозит
* casa_balance_0m	счета

* dc_trx_cnt	количество трат по картам
* dc_trx_sum	сумма трат по картам
* Avg_trx	средний размер транзакции
* avgtrx_to_balance	


* min_casa_balance_1q	показатели по счетам за квартал
* max_casa_balance_1q	
* avg_casa_balance_1Y	показатели по счетам за год

* min_td_balance_1q	
* max_td_balance_1q	
* avg_td_balance_1Y

* min_loan_balance_1q	
* max_loan_balance_1q	
* avg_loan_balance_1Y

* min_cl_balance_1q	
* max_cl_balance_1q	
* avg_cl_balance_1Y	
* loan_to_deposit	

* income	доход клиента
* nbi	доход от клиента без OPEX

In [2]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats
from tqdm.auto import tqdm
import plotly.express as px

,age,gender,city_type,full_mob,ml_balance,cl_balance_0m,loan_balance_0m,td_balance_0m,casa_balance_0m,dc_trx_cnt,...,min_loan_balance_1q,max_loan_balance_1q,avg_loan_balance_1Y,min_cl_balance_1q,max_cl_balance_1q,avg_cl_balance_1Y,loan_to_deposit,Avg_trx,avgtrx_to_balance,nbi
0,71,NaN,<100,103,0.0,0.0,0.0,0.0,0.0000,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,49,NaN,Mega,81,0.0,0.0,0.0,0.0,3272.9367,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,28.762952
2,56,NaN,Mega,81,0.0,0.0,0.0,0.0,6249.7550,6,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,854.67,0.083467,1973.335539
3,47,NaN,Mega,81,0.0,0.0,0.0,0.0,14354.9370,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,364.008556
4,74,NaN,Mega,81,0.0,0.0,0.0,0.0,91511.7691,0,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,6651.416562

In [3]:
df = pd.read_csv('test_cluster.csv', encoding='cp1251', sep=';')
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  50000 non-null  int64
 1   gender               49277 non-null  object
 2   city_type            50000 non-null  object
 3   full_mob             50000 non-null  int64
 4   ml_balance           50000 non-null  float64
 5   cl_balance_0m        50000 non-null  float64
 6   loan_balance_0m      50000 non-null  float64
 7   td_balance_0m        50000 non-null  float64
 8   casa_balance_0m      50000 non-null  float64
 9   dc_trx_cnt           50000 non-null  int64
 10  dc_trx_sum           50000 non-null  float64
 11  income               50000 non-null  float64
 12  min_casa_balance_1q  50000 non-null  float64
 13  max_casa_balance_1q  50000 non-null  float64
 14  avg_casa_balance_1Y  50000 non-null  float64
 15  min_td_balance_1q    50000 non-null  float64
 16  max_td_balance_1q    50000 non-null  float64
 17  avg_td_balance_1Y    50000 non-null  float64
 18  min_loan_balance_1q  50000 non-null  float64
 19  max_loan_balance_1q  50000 non-null  float64
 20  avg_loan_balance_1Y  50000 non-null  float64
 21  min_cl_balance_1q    50000 non-null  float64
 22  max_cl_balance_1q    50000 non-null  float64
 23  avg_cl_balance_1Y    50000 non-null  float64
 24  loan_to_deposit      3820 non-null   float64
 25  Avg_trx              32128 non-null  float64
 26  avgtrx_to_balance    31515 non-null  float64
 27  nbi                  47569 non-null  float64
dtypes: float64(23), int64(3), object(2)
memory usage: 10.7+ MB

In [ ]:
df.info()

In [ ]:
new_df = pd.concat([df.min(), df.mean(), df.max(), df.quantile(q=0.95, axis=0)], axis = 1)
new_df

In [ ]:
df_lesser = df[df['Avg_trx']<df['Avg_trx'].quantile(q=0.95)]
fig = px.scatter(df_lesser, x="dc_trx_cnt", y="Avg_trx", color = "city_type")
fig.show()

На этом графике видно зависимость средней суммы операций от их количества. Можно сделать вывод, что к крупным расходам более склонны люди, которые совершают меньше операций. А для людей, которые регулярно пользуются картами, такие крупные траты (больше 50000) нетипичны. Ярко выраженной зависимости трат от города проживания клиента нет.

In [ ]:
fig = px.bar(df, x="age", y="nbi")
fig.show()

На этом графике можно оценить, какую прибыль приносят банку клиенты разных возрастов. Большая часть доходов поступает от группы клиентов от 30 до 50 лет, дальше заметно снижается. При этом отдельные пики можно видеть и среди возрастов больше 50, но они обусловлены как правило влиянием небольшой группы клиентов

In [ ]:
fig = px.violin(df[(df['avg_casa_balance_1Y']<df['avg_casa_balance_1Y'].quantile(q=0.95))&(df['gender'].notnull())], y="avg_casa_balance_1Y", x="city_type", color="gender", box=True, points="all", hover_data=['gender','city_type','avg_casa_balance_1Y'])
fig.show()

На этом графике видим среднюю сумму на счетах клиентов в зависимости от пола и города. Основная тенденция, которую можно выявить из этого графика - большое сосредоточение клиентов около значений от 0 до 10-11 тысяч, после чего стабильное уменьшение. В целом графики выглядят похоже, как среди разных полов, так и вреди разных городов. Стоит выделить города типа Mega, в них суммы распределены более равномерно, средние значения смещены в сторону 20 тысяч.